.vagrant
install-site*
.DS_Store
*.sql

*.tar.gz

index.html

# emacs
*~
*~
*#
.#*

*~
.DS_Store
.svn
.cvs
*.bak
*.swp
*.pyc
Thumbs.db
Capfile
/config
extras/
interactive/

#
app.badgerherald.test/*

# Wordpress
badgerherald.test/wordpress/*
!badgerherald.test/wordpress/wp-config.php

badgerherald.test/wordpress-old/*

# other

style.css
.sass-cache
cache
*.sublime-workspace
node_modules
badgerherald.test/wpcs/
